/*Name:
 *Date:
  Class:
 * Stylesheet used in index.html*/
p {
	font-size: 110%;
	margin:30px;
	border: 1px solid black;
	padding: 10px;
}

body{
	font-size: 120%;
}

input {
	padding: 5px
}

select {
	padding: 5px
}

#container{
	width: 60vw;
	margin: 20px auto ;
	background: #fff;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0px 3px 5px rgba(0,0,0,.2);
	padding-bottom: 40px;
}

/* Styles ribbon on container */
div.ribbon{
	color: #fff;
	margin: 30px 0 50px;
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
	text-transform: uppercase;
	background: rgb(0, 164, 239);
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0px 1px 3px rgba(0,0,0,.2);
	padding: 10px 15px;
	clear: both;
}
 
div.both_ribbon{
	text-align: center;
	color: #000;
	padding: 10px 9px 10px 10px;
	width: 100%;
	margin-left: -10px;
}

div.both_ribbon::before{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	left: -11px;
	content: "";
	border-bottom: 10px solid transparent;
	border-right: 10px solid rgb(0, 80, 116);
}
 
div.both_ribbon::after{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	right: -10px;
	content: "";
	border-bottom: 10px solid transparent;
	border-left: 10px solid rgb(0, 80, 116);
}

/* floats container to the center */	
.floating-box {
	float: center;
}

/* Creates the HOME button for the Input Wait Time page */
.button{
   font: bold 20px Arial;
   text-align: center;
   text-decoration: none;
   width: 70px;
   background-color: #EEEEEE;
   color: #333333;
   padding: 4px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
}

/* Styles Home button in Input Wait Time Page */
a:link {
   background-color: transparent;
   color: rgb(0, 80, 116);
   text-decoration: none;
}
